<div>

  <h3>{{labels[0].new.title}}</h3>

  <form [formGroup]="ficheForm" (ngSubmit)="onSubmit(ficheForm)" [class.blockerror]="!ficheForm.valid && ficheForm.touched">

    <div class="field style-4">
      <label for="titleInput">{{labels[0].new.bookform.title.label}}</label>
      <input type="text" id="titleInput" placeholder="{{labels[0].new.bookform.title.placeholder}}" [formControl]="ficheForm.controls['title']">
      <div *ngIf="ficheForm.controls['title'].hasError('required')" class="minialert-box error">{{labels[0].new.bookform.title.required}}</div>
    </div>

    <div class="field style-4">
      <label for="subTitleInput">Book subtitle</label>
      <input type="text" id="subTitleInput" placeholder="Subtitle" [formControl]="ficheForm.controls['subTitle']">
      <div *ngIf="ficheForm.controls['subTitle'].hasError('required')" class="minialert-box error">Subtitle is required</div>
    </div>

    <div class="field style-4">
      <label for="authorInput">Author</label>
      <input type="text" id="authorInput" placeholder="Name,Lastname" [formControl]="ficheForm.controls['author']">
      <div *ngIf="ficheForm.controls['author'].hasError('required')" class="minialert-box error">Author is required</div>
    </div>

    <div class="field style-4">
      <label for="yearPubInput">Year publication</label>
      <input type="number" class="no-spin" id="yearPubInput" placeholder="0000" [formControl]="ficheForm.controls['yearPub']">
    </div>

    <div class="field style-4">
      <label for="editorInput">Editor</label>
      <input type="text" id="editorInput" placeholder="Editor" [formControl]="ficheForm.controls['editor']">
    </div>

    <div class="field style-4">
      <label for="collectionInput">Collection</label>
      <input type="text" id="collectionInput" placeholder="Collection" [formControl]="ficheForm.controls['collection']">
    </div>

    <div class="field style-4">
      <label for="pagesInput">Pages</label>
      <input type="number" class="no-spin" id="pagesInput" placeholder="Page number" [formControl]="ficheForm.controls['pages']">
    </div>

    <div class="field style-4">
      <label for="languageInput">Language</label>
      <input type="text" id="languageInput" placeholder="Language" [formControl]="ficheForm.controls['language']">
    </div>

    <!-- Now the form to add a comment-->

    <div formArrayName="comments">

      <div *ngFor="let comment of ficheForm.controls.comments.controls; let i=index">

        <div class="panel-heading">
          <div>
            <span>Comment {{i + 1}} from user {{author}}</span>
            <button *ngIf="ficheForm.controls.comments.controls.length > 1" (click)="removeComment(i)">(Remove)</button>
          </div>
        </div>

        <div class="panel-body" [formGroupName]="i">

          <div>
            <h4 for="aboutAuthor">About the author</h4>
            <textarea id="aboutAuthor" name="aboutAuthor" placeholder="Write here about the author" formControlName="aboutAuthor"></textarea>
          </div>

          <div>
            <h4 for="aboutGenre">About the genre</h4>
            <textarea id="aboutGenre" placeholder="Write here about the genre" formControlName="aboutGenre"></textarea>
          </div>

          <div>
            <h4 for="aboutCadre">About the context</h4>
            <textarea id="aboutCadre" placeholder="Write here about the context" formControlName="aboutCadre"></textarea>
          </div>

          <div>
            <h4 for="aboutCharacters">About the characters</h4>
            <textarea id="aboutCharacters" placeholder="Write here about the characters" formControlName="aboutCharacters"></textarea>
          </div>

          <div>
            <h4 for="resume">Resume</h4>
            <textarea id="resume" placeholder="Write a resumé" formControlName="resume"></textarea>
          </div>

          <div>
            <h4 for="extrait">Extraits</h4>
            <textarea id="extrait" placeholder="Write here some extraits" formControlName="extrait"></textarea>
          </div>

          <div>
            <h4 for="appreciation">Appreciation</h4>
            <textarea id="appreciation" placeholder="Write here your appreciation" formControlName="appreciation"></textarea>
          </div>

          <div>
            <h4 for="isCompleted">Is it complete?</h4>
            <input type="checkbox" id="isCompleted" formControlName="isCompleted">
          </div>

        </div>

      </div>

    </div>

    <div class="add-comment" style="margin: 2em">
      <a (click)="addComment()" style="cursor: default">Add comment</a>
    </div>

    <div>

      <div style="margin: 2em">
        <button type="submit" class="positive" [disabled]="!ficheForm.valid">Submit</button>
        <button type="reset" class="negative" (click)="revert()" [disabled]="ficheForm.pristine">Revert</button>
      </div>

    </div>

  </form>

  <div class="message-box center">

    <div *ngIf="message">
      <div class="alert-box {{message.type}}"><span>{{message.text}}</span></div>
    </div>

  </div>
  
  <!--<p>Form value: {{ ficheForm.value | json }}</p>-->


</div>