/* You can add global styles to this file, and also import other style files */
/* Master Styles */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';


h1 {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  height: 20%
}
h2, h3 {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.progressbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  margin: 0px;
  width: 100%;
}
.appbody {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 1em;
  margin-bottom: 1em; 
}
body {
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body, input[text], button {
  color: whitesmoke;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #4CAF50;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #4CAF50;
}
button:disabled {
  background-color: #4CAF50;
  color: #aaa;
  cursor: auto;
}
button.positive {
  font-family: Arial;
  background-color: #4CAF50;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
} 
button.negative {
  font-family: Arial;
  background-color: #e62e00;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button.save {
  font-family: Arial;
  color: black;
  background-color: #e6e600;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
} 
/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top:10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 80%;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color:  #00a3cc;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}
.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  width:2.0em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

div.field {
  padding: 0.8em 0.8em 0.8em 0.8em;
}
.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance:textfield !important;
}
input[type="text"] {
  display: block;
  margin: 0;
  width: 80%;
  font-family: sans-serif;
  font-size: 14px;
  box-shadow: none;
  border-radius: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
}
input[type="text"]:focus {
  outline: none;
}

input[type="number"] {
  display: block;
  margin: 0;
  width: 10%;
  font-family: sans-serif;
  font-size: 14px;
  box-shadow: none;
  border-radius: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
}
input[type="number"]:focus {
  outline: none;
}

.style-4 input[type="text"] {
  padding: 8px;
  border: none;
  border-bottom: solid 4px #c9c9c9;
  transition: border 0.3s;
}
.style-4 input[type="text"]:focus,
.style-4 input[type="text"].focus {
  border-bottom: solid 4px #00cccc;
}

.style-4 input[type="number"] {
  padding: 8px;
  border: none;
  border-bottom: solid 4px #c9c9c9;
  transition: border 0.3s;
}
.style-4 input[type="number"]:focus,
.style-4 input[type="number"].focus {
  border-bottom: solid 4px #00cccc;
}
.panel{
  margin-bottom:20px;
  background-color:#fff;
  border:1px solid transparent;
  border-radius:4px;
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);
  box-shadow:0 1px 1px rgba(0,0,0,.05)
}
.panel-body{
  padding:15px
}
.panel-heading { 
  padding:10px 15px;
  border-bottom:2px solid transparent;
  border-top-left-radius:3px;
  border-top-right-radius:3px
}

div.add-comment a:link {
  color: #123456;
  background: #00cccc;
}

div.add-comment a:hover {
  color: #123;
  background: #00cccc;
}

div.add-comment a:visited {
  color: #654321;
  background: #00cccc;
}

.style-5 {
  padding: 8px;
  background: whitesmoke;
  border-radius: 6px 6px 6px 6px;
}

/*
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/

textarea {
  vertical-align: top;
  margin-top: 10px;
  margin-left: 5%;
  width: 70%;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: whitesmoke;
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}
textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}
.message-box {
    width: 300px;
    height:40px;
    text-align: center;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.block {
    height:100px;
    width:200px;
    text-align:left;
}
.center {
    margin:auto;
    
}
.alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:12px;
    padding:10px 10px 10px 36px;
    margin-right: auto;
    margin-left: auto;
    height: 18px;
}
.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}
.minialert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:12px;
    padding:10px 10px 10px 10px;
    margin-right: auto;
    width: 15%;
    height: 12px;
}
.error {
    background-color: #f5aca6;
    border:1px solid #f5aca6;
    opacity: 0.8;
}
.success {
    background-color: #a6ca8a;
    border:1px solid #a6ca8a;
    opacity: 0.8;
}
.warning {
    background-color:#f2c779;
    border:1px solid #f2c779;
    opacity: 0.8;
}
.notice {
    background-color:#8ed9f6;
    border:1px solid #8ed9f6;
    opacity: 0.8;
}
.blockerror {
    background: transparent;
    border:2px solid #8ed9f6;
}