<div>

    <h3>Fiche list</h3>

    <ul class="items">
        <li *ngFor="let fiche of fiches | async" (click)="onSelect(fiche)" [class.selected]="isSelected(fiche)">
            <span class="badge">{{ fiche.id }}</span> {{ fiche.abook.title }} | {{ fiche.abook.author}}
        </li>
    </ul>


    <nav>
        <button (click)="getFiches()" class="btn btn-primary">Refresh</button>
        <a *ngFor="let fiche of storedFiches" (click)="select(fiche)">{{fiche.id}}</a>{{fiche.book.title}}
    </nav>

</div>