<div>

    <h3>{{labels[0].list.title}}</h3>

    <!--
    <button (click)="getStoredFiches()" class="btn btn-primary">{{labels[0].list.reload}}</button>
    -->

    <div style='width:80%'>
        <ngx-datatable 
        class="material" 
        [rows]="rows | async" 
        [columns]="columns" 
        [columnMode]="standard"
        [headerHeight]="50" 
        [footerHeight]="50"
        [rowHeight]="'auto'" 
        [limit]="10" 
        [selected]="selected" 
        [selectionType]="'single'" 
        (select)='onSelect($event)' 
        (activate)="onActivate($event)">

            <ngx-datatable-column prop="id" name="{{labels[0].list.col1}}" [width]="50">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column prop="title" name="{{labels[0].list.col2}}" [width]="600">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column prop="author" name="{{labels[0].list.col3}}" [width]="600">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </div>

</div>