<div>

  <h3>Fiche Details</h3>

  <p>
    You selected fiche: {{ id }}
  </p>

  <form [formGroup]="ficheForm" (ngSubmit)="onSubmit(ficheForm)" novalidate>

    <div class="field style-4">
      <label for="titleInput">Book Title</label>
      <input type="text" id="nameInput" placeholder="A name" [formControl]="ficheForm.controls['title']">
    </div>

    <div class="field style-4">
      <label for="subTitleInput">Book subtitle</label>
      <input type="text" id="subTitleInput" placeholder="Subtitle" [formControl]="ficheForm.controls['subTitle']">
    </div>

    <div class="field style-4">
      <label for="authorInput">Author</label>
      <input type="text" id="authorInput" placeholder="Name,Lastname" [formControl]="ficheForm.controls['author']">
    </div>

    <div class="field style-4">
      <label for="yearPubInput">Year publication</label>
      <input type="number" class="no-spin" id="yearPubInput" placeholder="0000" [formControl]="ficheForm.controls['yearPub']">
    </div>

    <div class="field style-4">
      <label for="editorInput">Editor</label>
      <input type="text" id="editorInput" placeholder="Editor" [formControl]="ficheForm.controls['editor']">
    </div>

    <div class="field style-4">
      <label for="collectionInput">Collection</label>
      <input type="text" id="collectionInput" placeholder="Collection" [formControl]="ficheForm.controls['collection']">
    </div>

    <div class="field style-4">
      <label for="pagesInput">Pages</label>
      <input type="number" class="no-spin" id="pagesInput" placeholder="Page number" [formControl]="ficheForm.controls['pages']">
    </div>

    <div class="field style-4">
      <label for="languageInput">Language</label>
      <input type="text" id="languageInput" placeholder="Language" [formControl]="ficheForm.controls['language']">
    </div>

    <!-- Now the form to add a comment-->

    <div formArrayName="comments">

      <div *ngFor="let comment of ficheForm.controls.comments.controls; let i=index">

        <div class="panel-heading">
          <div>
            <span>Comment {{i + 1}}</span>
            <button *ngIf="ficheForm.controls.comments.controls.length > 1" (click)="removeComment(i)">(Remove)</button>
          </div>
        </div>

        <div class="panel-body" [formGroupName]="i">

          <h4 for="author">This comment author</h4>
          <div class="field style-4">
            <input type="text" id="author" placeholder="Author" formControlName="author">
          </div>

          <div>
            <h4 for="aboutAuthor">About the author</h4>
            <textarea id="aboutAuthor" name="aboutAuthor" placeholder="Write here about the author" formControlName="aboutAuthor"></textarea>
          </div>

          <div>
            <h4 for="aboutGenre">About the genre</h4>
            <textarea id="aboutGenre" placeholder="Write here about the genre" formControlName="aboutGenre"></textarea>
          </div>

          <div>
            <h4 for="aboutCadre">About the context</h4>
            <textarea id="aboutCadre" placeholder="Write here about the context" formControlName="aboutCadre"></textarea>
          </div>

          <div>
            <h4 for="aboutCharacters">About the characters</h4>
            <textarea id="aboutCharacters" placeholder="Write here about the characters" formControlName="aboutCharacters"></textarea>
          </div>

          <div>
            <h4 for="resume">Summary</h4>
            <textarea id="resume" placeholder="Write a summary" formControlName="resume"></textarea>
          </div>

          <div>
            <h4 for="extrait">Extraits</h4>
            <textarea id="extrait" placeholder="Write here some extraits" formControlName="extrait"></textarea>
          </div>

          <div>
            <h4 for="appreciation">Appreciation</h4>
            <textarea id="appreciation" placeholder="Write here your appreciation" formControlName="appreciation"></textarea>
          </div>

          <div>
            <label for="isCompleted">Is it complete?</label>
            <input type="checkbox" id="isCompleted" formControlName="isCompleted">
          </div>

        </div>

      </div>

    </div>

    <div>

      <div style="margin: 2em">
        <button type="save" class="positive">Save</button>
        <button type="reset" class="negative" (click)="revert()" [disabled]="ficheForm.pristine">Cancel</button>
      </div>

    </div>

  </form>

  <div class="add-comment" style="margin: 2em">
    <button (click)="addComment()">Add comment</button>
  </div>

  <div style="margin: 2em" *ngIf="!docx">
    <button (click)="createFicheDocx()" class="save">Create Word</button>
  </div>

  <div style="margin: 2em" *ngIf="docx">
    <button (click)="downloadFicheDocx()" class="save">Download Fiche</button>
  </div>

  <div class="message-box center">

    <div *ngIf="message">
      <div class="alert-box {{message.type}}"><span>{{message.text}}</span></div>
    </div>

  </div>

  <p>
    <button (click)="gotoFiches()">Back</button>
  </p>

  <!-- <p>Form value: {{ ficheForm.value | json }}</p> -->

</div>