<h2>{{labels[0].title}}</h2>

<h3>{{labels[0].adduser.title}}</h3>

<div>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" novalidate>

    <div class="field style-4">
      <label for="username">{{labels[0].adduser.email}}</label>
      <input type="text" id="username" placeholder="Email" [formControl]="userForm.controls['username']">
    </div>

    <div class="field style-4">
      <label for="password">{{labels[0].adduser.password}}</label>
      <input type="password" id="password" placeholder="Password" [formControl]="userForm.controls['password']">
    </div>

    <div class="field style-4">
      <label for="password">{{labels[0].adduser.role}}</label>
      <select id="role" [formControl]="userForm.controls['role']">
        <option *ngFor="let role of roles" [value]="role.value">{{role.display}}</option>
      </select>
    </div>

    <div style="margin: 2em">
      <button type="submit" class="positive">{{labels[0].adduser.submit}}</button>
      <button type="reset" class="negative" (click)="revert()" [disabled]="userForm.pristine">{{labels[0].adduser.cancel}}</button>
    </div>

  </form>

</div>

<p>Form value: {{ userForm.value | json }}</p>

<div>

  <h3>{{labels[0].deletefiche.title}}</h3>

  <button (click)="getStoredFiches()" class="btn btn-primary">{{labels[0].deletefiche.get}}</button>

  <div class="message-box center">

    <div *ngIf="message">
      <div class="alert-box {{message.type}}"><span>{{message.text}}</span></div>
    </div>

  </div>

  <ul class="items">
    <li *ngFor="let fiche of storedFiches" (click)="onSelect(fiche)" [class.selected]="isSelected(fiche)">
      <span class="badge">{{ fiche.id }}</span> {{ fiche.book.title }} | {{ fiche.book.author}} |
    </li>
  </ul>

</div>
